%section.details
  %h3= t('.details')
  = form_for current_participant, url: profile_path do |form|
    = form.group :name do
      = form.label :name
      = form.text_field :name
      = form.error_messages_for :name
    = form.group :email do
      = form.label :email
      = form.email_field :email
      = form.error_messages_for :email
    .form-buttons
      = form.submit t('.submit')

%section.password
  %h3= t('.password')
  = link_to t(current_participant.password? ? 'change_password' : 'add_password'), edit_password_path, class: 'button'

= render 'oauth_accounts'
