= form_for login_form, url: login_path do |form|
  = form.group :email do
    = form.label :email
    = form.email_field :email
    = form.error_messages_for :email
  = form.group :password do
    = form.label :password
    = form.password_field :password
    = form.error_messages_for :password
  .form-buttons
    = form.submit t('.submit')
%section.social
  %h3= t('.log_in_with')
  .social-links
    = render partial: 'provider', collection: Identity.providers.except(:developer).keys
