.dashboard-widget.dashboard__reports
  %h4.dashboard-widget__title Reports

  .report-list
    - Report.subclasses.each do |klass|
      .report-list__report
        .report__name= klass.report_name.humanize
        = link_to [:admin, klass.name.demodulize.underscore, year: festival] do
          = icon :table
        = link_to [:admin, klass.name.demodulize.underscore, year: festival, format: :csv] do
          = icon :download

