= render 'shared/modal', target: 'cart.modal', class: 'cart__modal' do
  = render 'shared/modal_header', title: t('.your_cart')
  .modal__body
    .cart__summary
      .cart__workshops
        %span
          %span.count{data: { count: cart.count, target: 'cart.summaryCount' }}
          %span.item{data: { singular: t('activity.types.workshop'), plural: t('activity.types.workshop').pluralize }}
          @
          = money cart.per_workshop, data: { target: 'cart.summaryPrice' }
          = '='

        .cart__savings
          %del= money cart.per_workshop * cart.count, data: { target: 'cart.summaryValue' }
          = money cart.total, data: { target: 'cart.summaryTotal' }
