- content_for :title, t('.title', festival: registration_form.festival)
- content_for :head do
  = display_meta_tags og: { title: festival.to_s, description: t('.og_description'), image: image_url('facebook.png'), url: registration_url, type: 'website' }

= form_for registration_form.current_step, url: registration_step_path(registration_form.current_step),
  method: :patch, html: { class: 'registration-form', data: { controller: 'registration-form' } } do |form|
  .registration-form__steps{data: { target: 'registration-form.steps' }}
    = render partial: 'step', collection: registration_form.steps

  .registration-form__form{data: { action: 'cart:updated->registration-form#updateCart' }}
    = render registration_form.current_step, form: form

  .buttons.registration-form__buttons
    - unless registration_form.current_step.first?
      = link_to registration_step_path(registration_form.previous_step), class: 'button', rel: :prev do
        = icon :back, class: 'button__icon'
        .button__text
          %small= t('.back')
          = registration_form.previous_step.label
    - if registration_form.current_step.last?
      %button.button.button--primary{type: :submit, rel: :next, disabled: !registration_form.steps.last.complete?}
        = icon :check, class: 'button__icon'
        .button__text= t('.finish')
    - else
      %button.button.button--primary{type: :submit, rel: :last}
        .button__text
          %small= t('.next')
          = registration_form.next_step.label
        = icon :next, class: 'button__icon'
