%header.navbar
  = link_to root_path, class: 'navbar-logo' do
    = t('festival.name.short')
  .navbar-login
    - if logged_in?
      = link_to profile_path do
        = avatar(current_participant, class: 'navbar-login-avatar')
        .navbar-login-name= current_participant
      = link_to 'Log out', logout_path, method: :delete if logged_in?
    - else
      = link_to_unless_current t('sessions.log_in'), login_path
      = link_to_unless_current t('accounts.sign_up'), signup_path
