%h1.page-title= t('.title')

.filters{role: 'tablist'}
  - payments.states.each do |state|
    = link_to admin_payments_path(payments.parameters.merge(state: state.to_param)), class: 'filter', role: 'tab', aria: { selected: state == payments.parameters[:state] } do
      .filter__text= t(state, scope: '.states')
      = badge payments.count(kind: state)

.filters{role: 'tablist'}
  = link_to admin_payments_path(payments.parameters.except(:kind)), class: 'filter', role: 'tab', aria: { selected: payments.parameters[:kind].blank? } do
    .filter__text= t('.all')
  - payments.kinds.each do |kind|
    = link_to admin_payments_path(payments.parameters.merge(kind: kind.to_param)), class: 'filter', role: 'tab', aria: { selected: payments.parameters[:kind] === kind.to_param } do
      .filter__text= t(kind.to_param, scope: 'payment.methods')
      = badge payments.count(kind: kind.to_param)

.payments{data: { controller: 'admin--payments', action: 'payment:updated->admin--payments#paymentUpdated' }}
  = render(payments.to_a) || content_tag(:div, t('.empty'), class: 'payments--empty')

  = render partial: 'form', layout: 'modal', locals: { payment: Payment.new }
