%h1.page-title= t('.title')

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:type)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:type].blank? } do
    .filter__text= t('.all')
  - pitches.types.each do |type|
    = link_to admin_pitches_path(pitches.parameters.merge(type: type)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:type] == type } do
      .filter__text= t(type, scope: 'pitch.short_type')
      = badge pitches.count(type: type)

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:pile)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:pile].blank? } do
    .filter__text= t('.all')
  - pitches.piles.each do |pile|
    = link_to admin_pitches_path(pitches.parameters.merge(pile: pile)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:pile] == pile } do
      .filter__text= t(pile, scope: 'pitch.pile')
      = badge pitches.count(pile: pile)

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:gender)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:gender].blank? } do
    .filter__text= t('.all')
  - Pitch.genders.each do |gender|
    = link_to admin_pitches_path(pitches.parameters.merge(gender: gender)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:gender] == gender } do
      .filter__text= t(gender, scope: 'pitch.gender')
      = badge pitches.count(gender: gender)

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:origin)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:origin].blank? } do
    .filter__text= t('.all')
  - Pitch.origins.each do |origin|
    = link_to admin_pitches_path(pitches.parameters.merge(origin: origin)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:origin] == origin } do
      .filter__text= t(origin, scope: 'pitch.origin')
      = badge pitches.count(origin: origin)

.filters
  = link_to t('.convert', count: pitches.count), select_admin_pitches_path(pitches.parameters), class: 'button button--primary', disabled: pitches.empty?

.pitches
  = render(pitches.to_a) || content_tag(:div, t('.empty'), class: 'pitches--empty')
