%h1.page-title= t('.title')

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:type)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:type].blank? } do
    .filter__text= t('.all')
  - pitches.types.each do |type|
    = link_to admin_pitches_path(pitches.parameters.merge(type: type)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:type] == type } do
      .filter__text= t(type, scope: 'pitch.short_type')
      = badge pitches.count(type: type)

.filters{role: 'tablist'}
  = link_to admin_pitches_path(pitches.parameters.except(:pile)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:pile].blank? } do
    .filter__text= t('.all')
  - pitches.piles.each do |pile|
    = link_to admin_pitches_path(pitches.parameters.merge(pile: pile)), class: 'filter', role: 'tab', aria: { selected: pitches.parameters[:pile] == pile } do
      .filter__text= t(pile, scope: 'pitch.pile')
      = badge pitches.count(pile: pile)

.pitches
  = render(pitches.to_a) || content_tag(:div, t('.empty'), class: 'pitches--empty')
