- if form.object.respond_to?(:experience)
  %h3.pitch-form-section-heading= t('.your_experience')
  = form.group :experience, required: true do
    %p.label= t('.experience.label')
    = form.text_area :experience, rows: 1, data: { autosize: true }
    = form.error_messages_for :experience
    %p.form-information= t('.experience.hint')

%h3.pitch-form-section-heading= t('.the_show')
= form.group :name, required: true do
  %p.label= t('.name.label')
  = form.text_field :name
  = form.error_messages_for :name
= form.group :show_description, required: true do
  %p.label= t('.show_description.label')
  = form.text_area :show_description, rows: 1, data: { autosize: true }
  = form.error_messages_for :show_description
= form.group :cast_size, required: true do
  %p.label= t('.cast_size.label')
  = form.number_field :cast_size, min: 1
  %p.form-information= t('.cast_size.hint')
  = form.error_messages_for :cast_size
= form.group :previously_performed do
  %p.label= t('.previously_performed.label')
  = form.text_area :previously_performed, rows: 1, data: { autosize: true }, placeholder: t('.previously_performed.placeholder')
  = form.error_messages_for :previously_performed
  %p.form-information= t('.previously_performed.hint')
= form.group :technical_requirements do
  %p.label= t('.technical_requirements.label')
  = form.text_area :technical_requirements, rows: 1, data: { autosize: true }
  = form.error_messages_for :technical_requirements
  %p.form-information= t('.technical_requirements.hint')

%h3.pitch-form-section-heading= t('.the_workshop')
= form.group :workshop_description, required: true do
  %p.label= t('.workshop_description.label')
  = form.text_area :workshop_description, rows: 1, data: { autosize: true }
  %p.form-information= t('.workshop_description.hint')
  = form.error_messages_for :workshop_description
= form.group :previously_taught do
  %p.label= t('.previously_taught.label')
  = form.text_area :previously_taught, rows: 1, data: { autosize: true }, placeholder: t('.previously_taught.placeholder')
= form.group :comments do
  %p.label= t('.comments.label')
  = form.text_area :comments, rows: 1, data: { autosize: true }, placeholder: t('.comments.placeholder')
