.pitch-form__blurb
  %h3.pitch-form-section-heading= t('.looking_for')
  = m t('.looking_for_details')

%h3.pitch-form-section-heading= t('.the_workshop')
= form.group :name, required: true do
  %p.label= t('.name.label')
  = form.text_field :name
  = form.error_messages_for :name
= form.group :workshop_description, required: true, data: { controller: 'word-count', 'word-count-min': 100, 'word-count-max': 150 } do
  %p.label= t('.workshop_description.label')
  = form.text_area :workshop_description, rows: 1, placeholder: t('.workshop_description.placeholder'), data: { autosize: true, target: 'word-count.editor' }
  %p.form-information.text-area-word-count{data: { target: 'word-count.counter' }}
    = t('.workshop_description.hint')
  = form.error_messages_for :workshop_description
.form-field.required
  %p.label= t('.participation.label')
  = form.error_messages_for :levels
.pitch-activity-participants
  - %w(rookie intermediate advanced).each do |level|
    %label.pitch-activity-participant
      = check_box_tag 'pitch[activity][levels][]', level, pitch_form.current_step.levels.include?(level)
      .pitch-activity-participant-check.check-box-field-icon
        = inline_icon :check
      .pitch-activity-participant-details
        %p
          %span.pitch-activity-participant-level= t(:level, scope: "pitches.step.workshop_details.participation.levels.#{level}")
          %span.pitch-activity-participant-experience= t(:experience, scope: "pitches.step.workshop_details.participation.levels.#{level}")
        %p.pitch-activity-participant-description= t(:description, scope: "pitches.step.workshop_details.participation.levels.#{level}")
  = hidden_field_tag 'pitch[activity][levels][]', ''
= form.group :prerequisites do
  %p.label= t('.prerequisites.label')
  = form.text_area :prerequisites, rows: 1, data: { autosize: true }, placeholder: t('.prerequisites.placeholder')
= form.group :number_of_participants do
  %p.label= t('.number_of_participants.label')
  = form.number_field :number_of_participants, min: 6, max: 30
  %p.form-information= t('.number_of_participants.hint')

= form.group :previously_taught do
  %p.label= t('.previously_taught.label')
  = form.text_area :previously_taught, rows: 1, data: { autosize: true }, placeholder: t('.previously_taught.placeholder')
= form.group :comments do
  %p.label= t('.comments.label')
  = form.text_area :comments, rows: 1, data: { autosize: true }, placeholder: t('.comments.placeholder')
