%h1.registration-form__title= t('.title')

.workshop-selection{data: { controller: 'workshop-selection cart', action: 'activities:select->workshop-selection#selectionChanged' }}
  = render registration_form.current_step.activities do
    .registration-form__cart{data: { target: 'workshop-selection.cart' }}
      = render registration_form.cart

  - registration_form.current_step.activities.select(&:selected?).each do |activity|
    = hidden_field_tag "registration[workshops][#{activity.id}]", activity.position, data: { target: 'workshop-selection.hiddenField' }
