%h1.registration-form__title= t('.title')

.workshop-selection{data: { controller: 'workshop-selection cart', action: 'activities:select->workshop-selection#selectionChanged' }}
  .workshop-selection__instructions
  - if registration_form.current_step.registrations.earlybird?
    = markdown t('.earlybird_instructions')
  - else
    = markdown t('.normal_instructions')

  = render registration_form.current_step.activities do
    .registration-form__cart{data: { target: 'workshop-selection.cart' }}
      = render registration_form.cart

- if registration_form.current_step.registrations.earlybird?
  = render 'workshop_onboarding'
