%input#show-navigation{type: 'checkbox', checked: false, tabindex: -1, autocomplete: 'off'}

.navigation
  = link_to profile_path, class: 'navigation__link navigation__link--profile' do
    = avatar(current_participant, class: 'navigation__avatar')
    .navigation__name= current_participant.to_s

  = navigation_link 'home', (festival ? admin_festival_path(festival) : admin_root_path)
  - if festival
    = navigation_link 'people', admin_people_path(festival)
    = navigation_link 'pitches', admin_pitches_path(festival), icon: 'pitch'
    = navigation_link 'timetable', admin_timetable_path(festival), icon: 'schedule'
    = navigation_link 'venues', admin_venues_path(festival), icon: 'venue'
