- prepend_content_for :stylesheets do
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

- prepend_content_for :scripts do
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

- content_for :main do
  = render 'shared/flash'
  = render 'shared/navigation'

  %main= yield

  = render 'shared/footer'

= render template: 'layouts/common'
