= form.group :registration_id, required: true do
  = form.label :registration_id
  = form.select :registration_id, festival.registrations.completed.includes(:participant).sort_by(&:participant).collect { |r| [r.participant.name, r.id] }, {}, data: { controller: 'select' }
  = form.error_messages_for :registration_id

= form.group :workshop_count, required: true do
  = form.label :workshop_count
  = form.number_field :workshop_count, min: 1
  = form.error_messages_for :workshop_count

= form.group :note, required: true do
  = form.label :note
  = form.text_field :note
  = form.error_messages_for :note
